/*Contient le style global des boutons du site*/
/*Style global d'un bouton*/
.button {
  display: inline-block;
  padding: 20px 34px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  font-weight: 600; /*Semi Bold*/
  border: none;
  border-radius: 6px;
}

/*Bouton vert clair plein*/
.button--primary {
  background-color: #00ac66;
}

/*Bouton vert foncé*/
.button--secondary {
  background-color: #006d41;
}

/*Bouton rouge*/
.button--tertiary {
  background-color: #c56d6d;
}

/*Bouton contour vert clair*/
.button--outline {
  background-color: transparent;
  color: #00ac66;
  border: 1px solid #00ac66;
}

/*Bouton contour vert clair avec fond gris clair*/
.button--outline--account {
  color: #00ac66;
  border: 1px solid #00ac66;
}

/*Les boutons de la page home*/
.button_home {
  /*display: inline-block;*/
  margin-top: 35px;
}

/*Badge d'indispo. sur les cartes de livres de la page Nos livres*/
.button_unavailable {
  display: flex;
  width: 100px;
  height: 25px;
  margin: 7px 7px 7px;
  padding: 8px 14px;
  cursor: default;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 10px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}

/*Bouton du formulaire édtion et d'ajout d'un livre*/
.button_validator {
  width: 100%;
}
