/*Contient le footer du site TomTroc*/
footer {
  padding: 20px 0;
  background-color: white;
}

footer .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 60px;
}

.logo-footer {
  text-decoration: none;
  color: #00ac66;
  font-weight: bold;
}
