/*Contient le header du Site TomTroc*/
/*Header*/
header {
  background-color: #f5f5f5;
  padding: 20px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-right: 80px;
}

.logo_text {
  font-family: "Playfair Display", serif;
  font-weight: 600; /*SemiBold*/
  font-size: 20px;
  color: #00ac66;
}

header nav:first-of-type {
  margin-right: auto;
}

header nav:last-of-type ul {
  gap: 25px;
}

.logo a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.logo_tomtroc {
  height: 51px;
  width: 51px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

nav a {
  text-decoration: none;
  color: #333;
}

nav a:hover {
  color: #00ac66;
}

/*Permet de savoir sur quelle page on ce trouve*/
nav a.active {
  font-weight: 600; /*SemiBold*/
}
